@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    /*CORES*/
    --cor-fundo: #48636a;
    --cor-menu: #525252;
    --cor-texto: #fff;

    /*FONTES*/
    --font-destaque: "Geo", sans-serif;
    --font-texto: "Inter", sans-serif;
    --font-size-destaque: 18px;
    --font-weight-destaque: bold;
    
    /*PADDING'S*/
    --padding-padrao: 10px;
    --padding-menor: 5px;

    /*TAMANHOS*/
    --width-padrao-janela: 200px;
    --height-padrao-janela: 400px;
    --height-padrao-icone: 45px;
    --width-padrao-icone: 45px;
}

html, body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    
}
body{
    background-image: url("../src/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cor-fundo);
    font-family: var(--font-texto);
}
footer{
    width: 100%;
    height: 50px;
    background-color: var(--cor-menu);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--padding-padrao);
}
.data-hora{
    display: flex;
    justify-content: center;
    color: var(--cor-texto);
    flex-direction: column;
    /*position: relative;*/
    font-family: var(--font-destaque);
    padding: var(--padding-menor);
    font-size: var(--font-size-destaque);
    align-items: center;
}

.footer-icons{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.footer-icons img{
    width: var(--width-padrao-icone);
    height: var(--height-padrao-icone);
    margin-left: 20px;
}

.home{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.icons{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.icons img{
    width: var(--width-padrao-icone);
    height: var(--height-padrao-icone);
    margin-top: 15px;
}

.icons a{
    text-decoration: none;
    font-family: var(--font-destaque);
    color: var(--cor-texto);
    font-weight: var(--font-weight-destaque);
}

.pasta{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}